body {font-family: 'Roboto', sans-serif;
background-color: #FFFFFF;
color: #434455;}

 p, h1,h2, h3,h4,h5{
    margin-top: 0;
    margin-bottom: 0;
 }

ul {
    list-style: none;
margin-top: 0;;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
/}

a {text-decoration: none;}
img{
    display: block;
}
.container {
    width: 1188px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

 }
/*============Header=========*/
.header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-heder{
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-logo-dys{
    color: #2e2f42;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03;
        text-transform: uppercase;

}
.header-navigation{
    display: flex;

   justify-content: flex-start;
align-items: center;

}
.header-logo{
    display: flex;
    color:#4d5ae5;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;

}
.header-menu{
    display: flex;
    gap: 40px;
    align-items: center;
   
}
.header-menu-item {
    display: block;
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
}
.header-menu-link-carent{
    color:#404bbf;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
     padding-bottom: 24px;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
    }
.header-menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.header-menu-link-carent::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.header-menu-link-carent:hover::after,
.header-menu-link-carent:focus
{
color: #404BBF ;
border-bottom: solid #404BBF;
}
.header-menu-link:hover,
.header-menu-link:focus{
color: #404BBF;
}
.header-address {
    font-style: normal;
    margin-left: auto;
}
.header-address-list{
    display: flex;
    gap: 40px;

  margin-left: auto;
  margin-right: auto;
    align-items: center;
  

}
.header-address-link {
    color:  #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 00.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }

      .header-address-link:hover,
      .header-address-link:focus
      {color: #404BBF;
      }
/*=====================*/

/*============Hero=========*/
.hero{
 background-color:#2E2F42;
   /* background-image:linear-gradient( rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    padding-top: 188px;
    padding-bottom: 188px;
}
 .bacg-img{
   max-width: 1440px;
    margin: 0 auto;
    background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

}
         .hero-title {
             color: #fff;
             font-size: 56px;
             font-weight: 700;
             line-height: 1.07;
             letter-spacing: 0.02em;
             margin-bottom: 48px;
             max-width: 496px;
             margin-left: auto;
             margin-right: auto;
         }
.hero-btn-box{
display: block;
        padding: 16px 32px;
        border-radius: 4px;
        min-width: 169px;
        margin-left: auto;
     margin-right: auto;
}
   .hero-bye-btn{
    background:  #4D5AE5;
    color: #FFFFFF; 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
border: none;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }
   .hero-bye-btn:hover,
   .hero-bye-btn:focus
    {
            background: #404BBF;
   }

   /*=====================*/
   /*=======Features==============*/
   /*.features{
    padding-top: 120px;
    padding-bottom: 120px;
   }*/
   .container-features {
       padding-top: 120px;
       padding-bottom: 120px;
   }
   .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
        overflow: hidden;
   }
   .container-features-list-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
   }
      .features-list {
       display: flex;
    gap: 24px;
   }
   /*.features-list{
    display: flex;
    padding-right: 156px;
    padding-left: 156px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 24px;*/

   
   .features-list-item{
    /*display: flex;*/
    flex-direction: column;
    align-items: flex-start;
        gap: 8px;
        flex-basis:calc((100% - 72px) / 4);
   }
   .features-list-icon{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #F4F4FD;
    border: 1px solid  #8E8F99;
    border-radius: 4px;
   }
 .features-subtitle {
    color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
 }
 .features-item-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }
 /*=====================*/
 /*=======team==============*/
   .team{
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;

   }
 .container-team{
    background: #F4F4FD;
 }

 .team-titl {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
 }
 .teams-list{
    display:flex ;
    align-items: center;
        gap: 24px;
    
 }
 .container-team-list-item-text{
padding-top: 32px;
padding-bottom: 32px;
 }
 .container-team-list-item{

 }
 
.team-list-item {
    background-color: #fff;
        padding-bottom: 0px;
        border-radius: 0px 0px 4px 4px;
    box-shadow:0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
 .team-subtitle{
    color: #2e2f42;
    text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
 }
 .team-text {
    color: #434455;
    text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
 }
 
 .team-list-icon{
     display: flex;
    align-items: flex-start;
    gap: 24px;
    justify-content: center;
  
 }
 .team-item-link-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
.team-item-icon{
    width: 40px;
    height: 40px;
  }
 .team-item-link-icon:hover,.team-item-link-icon:active,
 .team-item-link-icon:focus
 {
 
    background-color: #404bbf;
}
.team-list-item-icon{
    fill:#f4f4fd;
}
 /*=====================*/
 /*========Portfolio=============*/
 .portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
 }
 .portfolio-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
       
 }
 .portfolio-list{
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
    }
 .container-portfolio-list-item{
   display: flex;
    padding: 32px 16px;
    flex-direction: column;
        border: 1px solid #E7E9FC;
         border-top: none;
         border-radius:0px 0px 4px 4px ;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
 }
 .portfolio-list-item{
   /* display: flex;*/
    transition-property: box-shadow;
    /*padding: 40px 32px;*/
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   /* padding-bottom: 0px;*/
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    width: calc((100% - 48px) / 3);
    }
.container-portfolio-list-item:hover,
.container-portfolio-list-item:active,
 .portfolio-list-item:hover,
 .portfolio-list-item:active{

box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 }
 .portfolio-list-item:hover .portfolio-cover-text{
transform: translateY(0);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.portfolio-img{}
.portfolio-cover-wrap{
position: relative;
overflow: hidden;
}
.portfolio-cover-text{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    color:  #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing:0.02em;
        padding: 40px 32px;
        background-color: #4D5AE5;
        border-radius: 0px 0px 4px 4px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .portfolio-subtitle {
    color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
 }

 .portfolio-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }
 /*=====================*/
 /*=======Footer==============*/
 .footer {
    background: #2E2F42;
        padding-top: 100px;
        padding-bottom: 100px;
   
 }
 .footer-link-logo{
    margin-right: 120px;
 }
.container-footer{
    display: flex;
    align-items: baseline;
   /* padding-left: 156px;*/
  
}


.footer-link-bl{
display: inline-block;
}
 .footer-link {
    color:#4d5ae5;
        font-family: "Raleway",
     sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
 }

 .footer-logo-dys {
    color:#f4f4fd;
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

 .footer-text {
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.foter-social-contenair{
display: flex;
flex-direction: column;
gap: 16px;
}

.footer-social-list{
    display: flex;
    gap: 16px;
}
.team-list-icon {
    display: flex;
    align-items: flex-start;
    gap: 24px;

}
.footer-item-link-icon{
    display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;
        width: 40px;
        height: 40px;
        border:#4d5ae5 ;
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-link-icon:hover,
.footer-item-link-icon:focus,
.footer-item-link-icon:active {

    background-color: #31d0aa;}

.footer-sibsribe{
    display: flex;
    flex-direction:column;
    margin-left: 80px;
}
.foter-social-contenair-titel{
    display: block;
color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    

}
.footer-form {
    display: flex;
    gap: 24px;
}
.footer-input-title{
    color:  #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing:0.02em;
        margin-bottom: 16px;

}
.footer-form-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid  #FFF;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);0.15);
    background-color: transparent;
    outline: transparent;
    padding: 0 24px;
    color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.02em;
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
        font-size: 16x;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        text-align: center;
        background-color: #4D5AE5;
        padding-left:24px;
        padding-top: 8px; 
        padding-bottom: 8px;
        padding-right: 24px;
        min-width: 165px;
        height: 40px;
        margin-right: 16px;
        cursor: pointer;
        border: none;

      
}
.footer-form-btn-icon{

   width: 24px; 
   height: 24px;
   fill: #fff;
   margin-left: 16px;
}
 /*=====================*/
 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }

 .modal {
    width: 408px;
     min-height: 584px;
    background: #fcfcfc;
     position: absolute;
     top: 50%;
     left: 50%;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
     transform: translate(-50%, -50%);
     padding-top: 72px;
     padding-left: 24px;
     padding-bottom: 24px;
     padding-right: 24px;
     border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     padding: 0;
     background-color:#e7e9fc;;
     border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.modal-btn:hover,
.modal-btn:active,
.modal-btn:focus {
    border: none;
    background-color: #404bbf;;
    fill: #ffffff;
}

 .modal-btn-icon {
     fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.modal-btn:hover > .modal-btn-icon{
 fill: #ffffff;
 }
 .modal-btn:focus >.modal-btn-icon {
     fill: #ffffff;
 }


 .modal-title {
     text-align: left;
     max-width: 360px;
     margin-bottom: 16px;
    color:  #2E2F42;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }

 .modal-field {
     margin-bottom: 8px;
 }
.modal-label{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}
 .modal-input {
     width: 100%;
     height: 40px;
     border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
     background-color: transparent;
     padding-left: 38px;
     padding-right: 24px;
     color: teal;
     font-size: 16px;
     outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .modal-input-nane {
     width: 100%;
     height: 68px;
     border-radius: 13px;
     border:1px solid , #4D5AE5;
     background-color: transparent;
     padding-left: 62px;
     padding-right: 24px;
     color: teal;
     font-size: 16px;
     outline: transparent;
     transition: border-color 300ms linear;}

 .input-wrap:focus-within .modal-input {
     border-color: #4D5AE5;
 }

 .input-wrap:focus-within .modal-icon {
     fill: #4d5ae5;
 }

 

 .modal-input::placeholder {
     color: #6a5c75;
     font-size: 12px;
 }
 .modal-form-btn {
     display: block;
    min-width: 169px;
    height: 56px;
     padding: 16px 32px;
     color: #fff;
     font-size: 16px;
     font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
     border-radius: 4px;
     background-color: #4D5AE5;
    cursor: pointer;
     border: none;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
margin-left: auto;
margin-right:auto ;
}

.modal-form-btn:active,
.modal-form-btn:hover{
    background-color:#404BBF ;
}

 .input-wrap {
     position: relative;
 }

 .modal-icon {
     position: absolute;
     fill: #2e2f42;
     left: 16px;
     top: 50%;
     transform: translateY(-50%);
    transition:fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-textarea {
     width: 100%;
     height: 120px;
     border-radius: 4px;
     border: 1px solid rgba(17, 17, 17, 0.25);
     background-color: transparent;
     padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        border: 1px solid rgba(46, 47, 66, 0.4);
     outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     resize: none;
 }
.modal-textarea:focus {
border-color: #4D5AE5;
}
 .modal-textarea::placeholder {
     color: rgba(64, 64, 64, 0.3);
     font-size: 18px;
     line-height: normal;
     letter-spacing: -0.02em;
 }
.modal-check-container{
    margin-bottom: 16px;
}

 .modal-field-check{
    margin-bottom: 24px;
 }
 .check-text {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
    align-items: center;
    position: relative;
 }

 .check-text a {
     color: #4D5AE5;
 }

 .check-text-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
     width: 16px;
     height: 16px;
     margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.check-text-box-link{
    margin-left: 6px;
    text-decoration: underline;
}
.check-text-icon{
    fill: #F4F4FD;
}
 .modal-check:checked +.check-text > .check-text-box {
     background-color: #404bbf;
     border: none;
   fill: #F4F4FD;
 }
 .modal-check:checked+.check-text>.check-text-box-icon{
    fill: #F4F4FD;
 }


